* {
  margin: 0;
  background-color: rgb(240, 239, 239);
}

.main {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

.h2 {
  font-size: xx-large;
  color: rgb(151, 151, 151);
  padding-bottom: 30px;
}
.p {
  color: rgb(189, 179, 179);
  padding-bottom: 25px;
}

.js_btn {
  background-color: rgb(156, 215, 243);
  border: none;
  color: white;
  width: 70px;
  height: 30px;
  border-radius: 8px;
  cursor: pointer;
}

.js_reload {
  border: none;
  width: 120px;
  height: 30px;
  border-radius: 8px;
  background-color: rgb(177, 90, 90);
  color: white;
  cursor: pointer;
}

.js_result {
  padding-top: 25px;
  color: rgb(151, 151, 151);
}

.js_select {
  color: rgb(117, 117, 117);
}

